<ion-view view-title="Record Your Answer">
    <ion-content class="padding">

        <div>
            <p class="learnosity-question-body">
                {{question.stimulus}}
            </p>

        </div>

        <div class="row" ng-show="sound.file">
            <div class="col">

                <label class="item item-input">
                    <input type="text" ng-model="sound.name" placeholder="Name Your Recording">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="ans-record button button-block icon-left ion-android-microphone" ng-click="record()">Record</button>
            </div>
        </div>
         <!--<div class="row" ng-show="sound.file"> 
            <div class="col">
                <canvas id="view1"></canvas>
            </div>
        </div>-->
        <div class="row">
            <div class="col">
                <button class="ans-play button button-block icon-left ion-play" ng-disabled="!sound.file" ng-click="play()">Play</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="ans-save button button-block button-positive icon-left ion-ios-upload-outline" ng-disabled="!sound.file" ng-click="saveSound()">Save</button>
            </div>
        </div>

    </ion-content>
</ion-view>
